.body{
  font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculator{
  background-color: rgb(245, 207, 142);
  border: 5px solid rgb(138, 98, 25);
  border-radius: 20px;
  width: 250px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}